html,
		body {
		  height: 100%;
		  width: 100%;
		}


#Header{
  background-color: lightblue;
}

#Menu{
  float: left;
  width: 150px;
  height: 100%;
  font-size: 20px;
  background-color: blue;
}
#Menu ul li{
  list-style: none;
  text-decoration: none;

}
#Menu ul li a:hover{
  background-color: lightblue;
}
#Content{

  margin-left: 160px;

}
#Footer{
  background-color: lightblue;
}

#sourceForm

{
	background-color: yellow;
	border-radius: 10px;
	padding: 10px;
	width:400px;

}

#targetForm
{
	background-color: green;
	border-radius: 10px;
	padding: 10px;
	width:400px;
}
